.neuron-encaminhar-container {
    margin-bottom: 15px;
}

.neuron-encaminhar-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#neuronDropdownEncaminhar {
    width: 100%;
}